BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Optional tweaks for readability
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: true

